/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "atoms/fonts";
@import "atoms/layout";


html, body, .container, article {
  height: 100%;
}

html {
  font-size: 100%;
  line-height: 1.25;
  
  body {
    .container {
      article {
        border-bottom: 1px solid #ccc;
        
        h1 {
          font-size: 1200%;
          @include center;
          position: relative;
          
          @include below-tablet {
            font-size: 500%;
          }
        }
      }
    }
  }
  
  body.logo-unica {
    .container {
      article {
        h1 {
          @include font-family("Unica One");
          
          &:before {
            content: '';
            display: inline-flex;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            top: .4em;
            left: .2em;
          }
        }
        
        &#l1 {
          background: url("../assets/images/b1.jpg") repeat scroll 100% 30% transparent;
        }
        
        &#l1 h1:before {
          //content: url(../assets/images/icon_10174.png);
        }
        
        &#l2 h1:before {
          content: url(../assets/images/icon_21455.png);
        }
        
        &#l3 h1:before {
          content: url(../assets/images/icon_28945.png);
          top: 0;
        }
        
        &#l4 h1:before {
          content: url(../assets/images/icon_56777.png);
        }
      }
    }
  }
  
  
  
  
  
  body.fonts {
    .container {
      article {
        p {
          @include center;
          position: relative;
          color: #ccc;
        }
        
        &#f1 h1 {
          @include font-family("Kaushan Script");
        }
        
        &#f2 h1 {
          @include font-family("Allura");
        }
        
        &#f3 h1 {
          @include font-family("Petit Formal Script");
        }
        
        &#f4 h1 {
          @include font-family("Unica One");
        }
        
        &#f5 h1 {
          @include font-family("Life Savers");
        }
        
        &#f6 h1 {
          @include font-family("Croissant One");
        }
        
        &#f7 h1 {
          @include font-family("Kalam");
        }
      }
    }
  }
}
