/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

@import "atoms/fonts";
@import "atoms/layout";


html, body, .container, article {
  height: 100%;
}

html {
  font-size: 100%;
  line-height: 1.25;
  @include font-family('Lato', 300);
  
  body {
    .container {
      article {
        border-bottom: 1px solid #ccc;
        
        h1 {
          font-size: 1200%;
          @include center;
          position: relative;
          
          @include below-tablet {
            font-size: 500%;
          }
        }
      }
    }
  }
  
  
  body.logo {
    .container {
      article {
        border-bottom: 1px solid #eee;
        
        h1 {
          @include font-family("Unica One");
          font-size: 6.8462em;
          color: #384639;
          
          &:before {
            content: '';
            display: inline-flex;
            position: relative;
            top: .3125em;
          }
        }
        
        p {
          @include center;
          position: relative;
          color: #ccc;
        }
        
        &#l1 h1:before {
          content: url(../assets/images/logo-1.png);
          left: -.3125em;
        }
        
        &#l2 h1:before {
          content: url(../assets/images/logo-2.png);
        }
        
        &#l3 h1:before {
          content: url(../assets/images/logo-3.png);
        }
        
        &#l4 h1:before {
          content: url(../assets/images/logo-4.png);
        }
        
        &#l5 h1:before {
          content: url(../assets/images/logo-5.png);
          top: .625em;
        }
        
        &#l6 h1:before {
          content: url(../assets/images/logo-6.png);
        }
      }
    }
  }
  
  
  body.straplines {
    .container {
      header {
        margin: 1.25em;
        position: fixed;
        
        h1 {
          @include font-family("Unica One");
          font-size: 2.6154em;
          margin: .625em 0 0 .3125em;
          color: #384639;
        }
        
        h1, img {
          width: auto;
          float: left;
          display: inline-block;
        }
        
        img.small {
          max-height: 100px;
          max-width: 90px;
        }
      }
      
      article {
        //background: url(../assets/images/green-plant.jpg) no-repeat;
        color: #384639;
        
        h1 {
          @include font-family("Kalam");
          font-size: 600%;
        }
        
        aside {
          @include center;
          position: relative;
          
          color: #444;
          font-size: larger;
          
          ol {
            list-style: decimal;
            
            li {
              margin-top: 1.25em;
            }
          }
        }
      }
    }
  }
  
  body.logo-unica {
    .container {
      article {
        h1 {
          @include font-family("Unica One");
          
          &:before {
            content: '';
            display: inline-flex;
            width: 1.5em;
            height: 1.5em;
            position: relative;
            top: .4em;
            left: .2em;
          }
        }
        
        &#l0 {
          //background:  url("../assets/images/green-plant.jpg") no-repeat scroll 0 0 transparent;
        }
        
        &#l0 h1:before {
          content: url(../assets/images/logo.png);
          top: .2em;
          left: -.2em;
          width: auto;
          height: auto;
        }
        
        &#l1 h1:before {
          content: url(../assets/images/icon_10174.png);
        }
        
        &#l2 h1:before {
          content: url(../assets/images/icon_21455.png);
        }
        
        &#l3 h1:before {
          content: url(../assets/images/icon_28945.png);
          top: 0;
        }
        
        &#l4 h1:before {
          content: url(../assets/images/icon_56777.png);
        }
      }
    }
  }
  
  
  
  
  
  body.fonts {
    .container {
      article {
        p {
          @include center;
          position: relative;
          color: #ccc;
        }
        
        &#f1 h1 {
          @include font-family("Kaushan Script");
        }
        
        &#f2 h1 {
          @include font-family("Allura");
        }
        
        &#f3 h1 {
          @include font-family("Petit Formal Script");
        }
        
        &#f4 h1 {
          @include font-family("Unica One");
        }
        
        &#f5 h1 {
          @include font-family("Life Savers");
        }
        
        &#f6 h1 {
          @include font-family("Croissant One");
        }
        
        &#f7 h1 {
          @include font-family("Kalam");
        }
      }
    }
  }
}
