/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Lato:300|Kaushan+Script|Allura|Petit+Formal+Script|Unica+One|Life+Savers|Croissant+One|Kalam&subset=latin,latin-ext);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Center vertically or horizontally
- http://davidwalsh.name/css-vertical-center
*/
html, body, .container, article {
  height: 100%;
}

html {
  font-size: 100%;
  line-height: 1.25;
  font-family: "Lato", cursive;
  font-weight: 300;
}
html body .container article {
  border-bottom: 1px solid #ccc;
}
html body .container article h1 {
  font-size: 1200%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 47.999em) {
  html body .container article h1 {
    font-size: 500%;
  }
}
html body.logo .container article {
  border-bottom: 1px solid #eee;
}
html body.logo .container article h1 {
  font-family: "Unica One", cursive;
  font-weight: 400;
  font-size: 6.8462em;
  color: #384639;
}
html body.logo .container article h1:before {
  content: '';
  display: inline-flex;
  position: relative;
  top: .3125em;
}
html body.logo .container article p {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  position: relative;
  color: #ccc;
}
html body.logo .container article#l1 h1:before {
  content: url(../assets/images/logo-1.png);
  left: -.3125em;
}
html body.logo .container article#l2 h1:before {
  content: url(../assets/images/logo-2.png);
}
html body.logo .container article#l3 h1:before {
  content: url(../assets/images/logo-3.png);
}
html body.logo .container article#l4 h1:before {
  content: url(../assets/images/logo-4.png);
}
html body.logo .container article#l5 h1:before {
  content: url(../assets/images/logo-5.png);
  top: .625em;
}
html body.logo .container article#l6 h1:before {
  content: url(../assets/images/logo-6.png);
}
html body.straplines .container header {
  margin: 1.25em;
  position: fixed;
}
html body.straplines .container header h1 {
  font-family: "Unica One", cursive;
  font-weight: 400;
  font-size: 2.6154em;
  margin: .625em 0 0 .3125em;
  color: #384639;
}
html body.straplines .container header h1, html body.straplines .container header img {
  width: auto;
  float: left;
  display: inline-block;
}
html body.straplines .container header img.small {
  max-height: 100px;
  max-width: 90px;
}
html body.straplines .container article {
  color: #384639;
}
html body.straplines .container article h1 {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-size: 600%;
}
html body.straplines .container article aside {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  position: relative;
  color: #444;
  font-size: larger;
}
html body.straplines .container article aside ol {
  list-style: decimal;
}
html body.straplines .container article aside ol li {
  margin-top: 1.25em;
}
html body.logo-unica .container article h1 {
  font-family: "Unica One", cursive;
  font-weight: 400;
}
html body.logo-unica .container article h1:before {
  content: '';
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  top: .4em;
  left: .2em;
}
html body.logo-unica .container article#l0 h1:before {
  content: url(../assets/images/logo.png);
  top: .2em;
  left: -.2em;
  width: auto;
  height: auto;
}
html body.logo-unica .container article#l1 h1:before {
  content: url(../assets/images/icon_10174.png);
}
html body.logo-unica .container article#l2 h1:before {
  content: url(../assets/images/icon_21455.png);
}
html body.logo-unica .container article#l3 h1:before {
  content: url(../assets/images/icon_28945.png);
  top: 0;
}
html body.logo-unica .container article#l4 h1:before {
  content: url(../assets/images/icon_56777.png);
}
html body.fonts .container article p {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  position: relative;
  color: #ccc;
}
html body.fonts .container article#f1 h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
}
html body.fonts .container article#f2 h1 {
  font-family: "Allura", cursive;
  font-weight: 400;
}
html body.fonts .container article#f3 h1 {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
}
html body.fonts .container article#f4 h1 {
  font-family: "Unica One", cursive;
  font-weight: 400;
}
html body.fonts .container article#f5 h1 {
  font-family: "Life Savers", cursive;
  font-weight: 400;
}
html body.fonts .container article#f6 h1 {
  font-family: "Croissant One", cursive;
  font-weight: 400;
}
html body.fonts .container article#f7 h1 {
  font-family: "Kalam", cursive;
  font-weight: 400;
}
